<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WEB_353503_KOKHAN.UI</title>
    <link rel="stylesheet" href="~/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEB_353503_KOKHAN.UI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">WebLab1</a>
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" asp-controller="Home" asp-action="Index">Лб 1</a>
                    <a class="nav-item nav-link" asp-controller="Product" asp-action="Index">Каталог</a>
                    <a class="nav-item nav-link" asp-controller="Admin" asp-action="Index">Администрирование</a>
                </div>
                <a asp-controller="Cart" asp-action="Index" class="navbar-text ms-auto">
                    0,00 руб <i class="bi bi-cart"></i> (0)
                </a>
                <div class="dropdown ms-4 nav-color">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        User@gmail.com
                        <img src="images/default-profile-picture.png" width="30" alt="User" class="rounded nav-color" />
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <span class="dropdown-item-text">
                                <img src="images/default-profile-picture.png" width="50" alt="User" class="rounded" />
                                user@gmail.com
                            </span>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form asp-controller="Account" asp-action="Logout" method="post">
                                <button type="submit" class="nav-link btn btn-link text-dark">Выход</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <div class="navbar bg-dark navbar-expand-md border-bottom border-body"
                 data-bs-theme="dark">
                <div class="navbar-nav ms-auto">
                    <a class="nav-item nav-link" href="http://www.facebook.com">
                        <i class="bi bi-facebook" style="font-size: 1.8rem"></i>
                    </a>
                    <a class="nav-item nav-link" href="http://www.twitter.com">
                        <i class="bi bi-twitter" style="font-size: 1.8rem"></i>
                    </a>
                    <a class="nav-item nav-link" href="https://t.me/">
                        <i class="bi bi-telegram" style="font-size: 1.8rem"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
